.env
variables.tf
tmp/

terraform/*
!terraform/
.terraform/.terraform/
!terraform/main.tf
!terraform/module.tf
!terraform/variables.tf.example
!terraform/ec2/
!terraform/ec2/ec2.tf
!terraform/ec2/sg.tf
!terraform/ec2/variables.example.tf
